:root {
    --main-bg_color: #222823;
    --main-font-color: #f4f7f5;
    --accentColor: #fdd85d;
    --black: #000000;
   
}


* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: var(--main-bg_color);
        color: var(--main-font-color);
        font-family: "Proza Libre", sans-serif;
        
       
}

/* links */
a:hover {
    color: var(--accentColor);
}

a:link {
    text-decoration: none;
}



/* title styles */
#name {
    padding: 5px;
    margin: 5px;
    font-size: 100px;
    font-family: "Cormorant", serif;
}


/* nav styles */
.navItem {
    padding-left: 20px;
    font-size: 20px;
   
}

/* body flex */

#bodyContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#header {
    max-width: 25%;
}
#main {
    min-width: 1000px;
    max-width: 75%;
    align-items: left;
}

/* subtitle styles */
.box, .projbox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
}
.titleBox, .cards {
    align-items: left;
    margin: 0;
    padding: 10px; 
    text-align: left;
}

.projImg:hover {
    margin: 5px;
    border: 10px solid var(--accentColor);
}

.projImg {
    min-width: 800px;
    max-width: 1000px;
}

section {
    border-bottom: 5px solid;
}

.footer {
    padding: 40px;
    background-color: var(--accentColor);
    color: var(--main-bg_color);
}

/* about */
.txt {
    margin: 5px;
    padding: 10px;
    
}
/* contact */
.contactItem {
    margin: 5px;
    padding-left: 10px; 
    list-style: none;

}
.liItem {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.liItem:hover {
    background-color: var(--accentColor);
    color: var(--black);
    padding: 3px;
    margin: 10px;
    border-radius: 5px;
   
}

.projTitle {
    border-radius: 0%;
}

/* projects */

.obsLi {
    padding: 10px;
    margin-left: 50px;
}

.projPara {
    padding: 5px;
    margin: 5px;
}

.itLi {
    padding: 10px;
    margin: 5px; 
    margin-left: 50px;
}
.picBox {
    display: flex;
    flex-flow: center wrap;
    justify-content: center;
}
.itPic {
    min-width: 400px;
    max-width: 600px;
    padding: 10px;

}

