:root {
    --main-bg_color: #222823;
    --main-font-color: #f4f7f5;
    --accentColor: #9d6381;
    --black: #000000;
   
}


* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: var(--main-bg_color);
        color: var(--main-font-color);
        font-family: "Proza Libre", sans-serif;
        
       
}

/* links */
a:hover {
    background-color: var(--accentColor);
    color: var(--accentColor);
    text-decoration: bold;
}

a:link {
    text-decoration: none;
}



/* title styles */
#name {
    padding: 5px;
    margin: 5px;
    font-size: 100px;
    font-family: "Cormorant", serif;
}


/* nav styles */
.navItem {
    padding-left: 20px;
    font-size: 20px;
   
}

/* body flex */

#bodyContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#header {
    max-width: 25%;
}
#main {
    min-width: 1000px;
    max-width: 75%;
    align-items: left;
}

/* subtitle styles */
.box, .projbox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
}
.titleBox, .cards {
    align-items: left;
    margin: 0;
    padding: 10px; 
    text-align: left;
}


section {
    border-bottom: 5px solid;
}

.footer {
    padding: 40px;
    background-color: var(--accentColor);
    color: var(--main-bg_color);
}

/* contact */
.contactItem {
    margin: 5px;
    padding-left: 10px; 
    list-style: none;

}

.liItem:hover {
    background-color: var(--accentColor);
    color: var(--black);
    padding: 2px;
    border-radius: 5%;
}